*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html{
  font-size: 62.5%;
  overflow-x: hidden;

}

#back-img{
  background: url('./Images/Ellipse 5.png');
  background-repeat: no-repeat;
  background-position: right;
}

.top{
      background: url('./Background.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100vh;
      /* position:relative; */
}

.logo{
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 3rem 6vw;
}

.navlist {
  display: flex;
  font-size: 1.5rem;
  gap: 5rem;
}

.navlist li{
  list-style-type: none;
}
.navlist  a{
  text-decoration: none;
}
.navlist > li > a {
color: #E5E7EB;
}

.right-icon{
  display: flex;
  position: relative;
  width: 2rem;
  height: 2rem;
}


#org{
  color: #F08C00;
}

.hero{
  
}

.main-hero-text{
  display: flex;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #FFFFFF;
  padding: 2rem;
  justify-content: center;
}


.sec-text{
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  text-align: center;
  color: #C6C0C0;  
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem 0;
}

.search-box{
  display: flex;
  width: 31rem;
  height: 4rem;
  background: rgba(222, 222, 222, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4.5rem;
  color:white ;
  font-size: large;
}

.left-search{
  width: 80%;
}

.right-search{
  width: 20%;
}
.search-icon{
  position: sticky;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url('./Icons/Ellipse\ 5.png');
  z-index: 1;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  margin-left: -2.6rem;
}


.img-background{
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 66%;
  top: 43.5%;
}

/*----------------mid text------------------------------------------------------------------------------*/



.mid-part{
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 3rem 1rem;
  margin: 1rem 2rem;
}

.mid-part > .first,.second,.third{
  flex:0 0 33.33%;
  padding-right: 1.8rem;
}


.mid-part > .first, .second ,.third{
  display: inline-flex;
  gap: 1rem;
}
/*------------------ Koleski Furniture----------------------------------------------------------------------------------------*/


.koleski {
  display: flex;
  padding: 0 0.5rem;
}

.column {
width: 50%;
padding: 0.rem;
object-fit: cover;
}

.column >img{
  width: 100%;
  height: 100%;
}

.r1,.r3,.r4{
  display: flex;
  padding: 10px;
}

.r2{
  display: flex;
  padding: 20px 0px 5px 10px;
}

.r5{
  display: flex;
  margin-top: 3rem;
}


#a1{
  font-style: normal;
  font-weight: 700;
  font-size: 2.225rem;
  line-height: 3rem; 
  color: #2E2A2A;   
}

#a2{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.225rem;
  line-height: 1.6rem;
  color: #2E2A2A;
}

#a3{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
   /* or 175%  */
  color: #686161;
}

#a4{
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 41px;
  color: #F08C00;
}


/*---------------Produk catlog-------------------------------------------------------------------------------*/

.Produk-katlog{
  padding: 3rem;
}

.head-name{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #2E2A2A;
  text-align: center;
}

.catlog-navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.catlog-list{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  gap: 5rem;
}

.catlog-list  li{
      list-style-type: none;
}
.catlog-list a{
      text-decoration: none;
}
.catlog-list > li > a {
  color: #E5E7EB;
}


.container{
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 0 1rem;
}

.flex1{
  flex:33.33%;
}

.flex2{
  flex:33.33%;
}

.flex3{
  flex:33.33%;
}

.flex1 > img{
  object-fit: cover;
  width: 100%;
  height: 50%;
  padding: 0.5rem;
}

.flex2 > img{
  object-fit: cover;
  height: 50%;
  width:100%;
  padding: 0.5rem;
}

.flex3 > img{
  object-fit: cover;
  width: 100%;
  height: 50%;
  padding: 0.5rem;
}

.grid{
  display: grid;
  grid-template: repeat(10,1fr)/repeat(10,1fr);
  /* width: 400px;
  height: 400px; */
  background: #FBFBFB;
  margin: 0.5rem;
  padding-bottom: 1rem;
  max-height:60vh;
}

.imglogo{
  grid-row: 2/4;
  grid-column: 2/6;
  object-fit: cover;
}

.img1{
  grid-column: 4/9;
  grid-row: 3/5;
 
  object-fit: cover;
}

.a1{
  background: transparent;
  border: transparent;
  padding: 2px;
  grid-column:3/5;
  grid-row:9/10;
}

.a2{
  background: transparent;
  border: transparent;
  grid-column:5/7;
  grid-row:9/10;
}

.a3{
  background: transparent;
  border: transparent;
  grid-column:7/9;
  grid-row:9/10;
}

.a21,.a31{
  grid-column:5/7;
  grid-row:9/10;
}

.a22,.a32{
  grid-column:7/9;
  grid-row:9/10;
}

.caption{
  grid-column:2/10;
  grid-row:10/ 10;
  background: white;
  z-index: inherit;
 margin-top: 0.5rem;
}

.prod-cat-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 0.5rem;
  margin: 1rem 0 0;
}

#btn-text{
  color: #5F5D5D;
}

/* ------------------------------------------------------------------------------------------ */

/* Depatkan section */

.dapatkan {
  display: flex;
}

/* @media  screen and (min-width:700px) {
  .dapatkan{
    display: flex;
    gap: 5px;
    position: absolute;
    flex-direction: column;
  } 
}*/

.column {
width: 50%;
padding: 0.8rem;
}

.column >img{
  width: 100%;
  height: 100%;
}

.right-box{
  margin: 5rem 0;
}

#head-text{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #2E2A2A;
  padding: 0 1rem;
}

#sec-text{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8C8585;
  padding: 0 1rem;
}

#dapat-btn{
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  margin: 3rem 1rem;
  position: absolute;
  width: 10rem;
  height: 4.2rem;
  color: #FFFFFF;
  background: #F08C00;
  border-radius: 4px;
  border-color: #F08C00;
}

/* ------------------------------------------------------------------------------------------ */

/* ---------------Footer section---------------------------------------------------------------- */

#footer{
  /* display: flex; */
  margin: 2rem 0;
  padding: 1rem 2rem;
}

#left-footer{
  float: left;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.45rem;
  color: #8C8585;
}

#right-footer{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  text-decoration-line: underline;
  float: right;
}

#right-footer a{
  color: #8C8585;
}

